<div class="shogun-root" data-shogun-id="647789d23e96c5010aac1754" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="647789d23e96c5010aac1754" data-shogun-section-version-id="65031a35d7bf8300cd909a8e" data-shogun-platform-type="shopify" data-shogun-variant-id="65031a36d7bf8300cd909b3a" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/6737f4505e8af4d2b02fdc5226032103/65031a36d7bf8300cd909b3a.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:800"/> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-10f0c454-3f9a-4059-9e6c-6246e0a15990"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c custom-shogun-header " id="s-2559eea6-8845-4e5b-96ad-63913ffd6504"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"> <div class="shg-c shogun-image-container custom-image-on-banner shg-align-center" style="opacity: 1;" id="s-50826570-d774-44aa-a323-ad59495427a4"> <img src="https://i.shgcdn.com/eed95967-2ead-4cec-a663-97ea6c3e8e82/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ uuid: 's-50826570-d774-44aa-a323-ad59495427a4' })
  </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c right-block " id="s-cef38d58-fbbd-4220-b8e5-09f1d9e6b39c"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-46819939-9272-4084-8b5f-3a48ce2ba7bb" class="shg-c custom-caption-on-shogun "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: left;"><span style="font-size: 18px;"><em><span style="color: rgb(26, 71, 96);"><span style="color: rgb(249, 102, 13);"><strong>WILD SALMON SEASON IS HERE! </strong></span>🎉</span></em></span></p></div> </div> <div id="s-4ba374f1-67f1-4535-a988-7822f5718864" class="shg-c custom-header-on-shogun shg-align-left"> <div class="shogun-heading-component"> <h1> Free Alaska Sockeye Salmon For Life </h1> </div> </div> <div id="s-da09d522-a9b3-40b2-859b-a6d710cc8990" class="shg-c custom-copy-on-shogun "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: left;"><strong><span style="font-size: 22px; color: #1a4760;">Get one free pack of Alaska Sockeye Salmon in every box for the life of your subscription. </span></strong></p></div> </div> <div id="s-0941e147-0d9d-41af-b83d-d0a6e8d28a14" class="shg-c shg-align-left"> <div class="klaviyo-form-TXSQC6"></div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-76142e4d-130c-4597-a9e1-551c632845f1"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-beff571f-a4ba-45ba-a772-154e42a6d1ed" class="shg-c custom-info-on-shogun "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: left;"><strong>* Valid on subscription orders of $159+, plus free shipping.</strong></p></div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-dd9c3c16-746d-49da-aea7-a83396882157"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-1b69068c-d3cc-430f-829c-0889a8c835a7" class="shg-c shg-align-center"> <p style="text-align: left;"><a href="https://www.trustpilot.com/review/sea2table.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1" style="text-decoration: none;"><img alt="Human score" border="0" height="18" src="https://emailsignature.trustpilot.com/newsletter/en-US/1/5d4c95a03343a200014bac27/text1@2x.png" style="max-height: 18px;"/></a> &nbsp;&nbsp; <a href="https://www.trustpilot.com/review/sea2table.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1" style="text-decoration: none;"><img alt="Trustpilot Stars" border="0" height="20" src="https://emailsignature.trustpilot.com/newsletter/en-US/1/5d4c95a03343a200014bac27/stars@2x.png" style="max-height: 20px;"/></a> &nbsp;&nbsp; <span style="display:inline-block"><a href="https://www.trustpilot.com/review/sea2table.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1" style="text-decoration: none;"><img alt="number of reviews" border="0" height="18" src="https://emailsignature.trustpilot.com/newsletter/en-US/1/5d4c95a03343a200014bac27/text2@2x.png" style="max-height: 18px;"/></a> &nbsp;&nbsp; <a href="https://www.trustpilot.com/review/sea2table.com?utm_medium=Trustbox&amp;utm_source=EmailNewsletter1" style="text-decoration: none;"><img alt="Trustpilot Logo" border="0" height="20" src="https://emailsignature.trustpilot.com/brand/n/1/logo.png" style="max-height: 20px; display: inline-block;"/></a></span></p> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script type="text/javascript" src="https://cdn.getshogun.com/8f86646ef74d6d884a4b4987e21aa261/global-assets-5e3e409cc03cbd6facaf5aa879d7c4c960d41a8d.js" defer></script> </div>
{% schema %}
  {
    "name": "Free Sockeye Promo",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=647789d23e96c5010aac1754&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Free Sockeye Promo",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
