<div class="shogun-root" data-shogun-id="665e190ee25b3a21557f83bf" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="665e190ee25b3a21557f83bf" data-shogun-section-version-id="66a81f6f118cc9b0b904d54d" data-shogun-platform-type="shopify" data-shogun-variant-id="66a81f6f118cc9b0b904d580" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-07-17-3119/66a81f6f118cc9b0b904d54d_66a81f6f118cc9b0b904d580.css"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-07-24-4612/global-assets-899f97aa96b21b474ea61570c4403335fe1090dd.js" defer></script> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-30e02e19-cbec-4288-a8fb-99250a17e05f"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-631f5afb-5389-4b48-8552-cffa70a924f4-root" class="s-631f5afb-5389-4b48-8552-cffa70a924f4 shg-align-container"> <div class="shg-c s-631f5afb-5389-4b48-8552-cffa70a924f4 shogun-image-container shg-align-center" style="opacity: 1;" id="s-631f5afb-5389-4b48-8552-cffa70a924f4"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/c5f46ff8-6849-4268-969f-8bde42d387d8/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-631f5afb-5389-4b48-8552-cffa70a924f4" }
    }
  </script> </div> </div> </div></div> </div>
{% schema %}
  {
    "name": "4th of July",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=665e190ee25b3a21557f83bf&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "4th of July",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
