<div class="shogun-root" data-shogun-id="648218a56376c807ffd7dfe4" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="648218a56376c807ffd7dfe4" data-shogun-section-version-id="648231ae9f72c400f7221393" data-shogun-platform-type="shopify" data-shogun-variant-id="648231ae9f72c400f72213b9" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-06-06-0311/648231ae9f72c400f72213b9.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:600" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-fe08a770-b031-4b37-8df8-2045a84e730c"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-b54739d2-8f0f-4e07-a25d-b8d68112b73b"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h1>
    
      WORLD OCEAN DAY SALE
    
  </h1>
</div>

</div>

      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-06-06-0311/global-assets-beb79e8a561e44ea138edadf54ec2b4c89bbf9fe.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "World Oceans Day Banner",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=648218a56376c807ffd7dfe4&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "World Oceans Day Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
