<div class="shogun-root" data-shogun-id="64f0d1e40d846300fe3479f9" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="64f0d1e40d846300fe3479f9" data-shogun-section-version-id="669eb4a57866836ea8b00bd7" data-shogun-platform-type="shopify" data-shogun-variant-id="669eb4a57866836ea8b00c79" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-07-17-3119/669eb4a57866836ea8b00bd7_669eb4a57866836ea8b00c79.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-06-19-2403/global-assets-f9de94884338e84ca1c99be8e8f7f836f2cd6cc4.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-27aa0fe8-0e9f-421c-aad0-f53daa0e4c2d"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-67aaed04-8dfa-4241-ba14-1fa70bfc999c"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-6"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-88910000-24b9-497f-b006-769fce6bfc40"> <div class="shg-box-overlay"></div><div class="shg-box-content"> </div> </div> </div> </div> <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-4a182fe4-6496-4b46-afd8-a0a7483ca743"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-9d8bb411-eb89-4619-aa11-0aa88f43ea08-root" class="s-9d8bb411-eb89-4619-aa11-0aa88f43ea08 shg-align-container"> <div class="shg-c s-9d8bb411-eb89-4619-aa11-0aa88f43ea08 shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-9d8bb411-eb89-4619-aa11-0aa88f43ea08"data-animations='[{"event":"mouseenter","name":"pulse","delay":"","duration":"","iterationCount":"","shouldBeTriggeredOnce":false}]'> <div class="shg-image-content-wrapper"> <a class="shogun-image-link" href="https://sea2table.com/tools/bundle-subscriptions/bundle/7421575397537?selling_plan=1116799137&variant=42180756013217&d=5-p&product=build-your-first-box-1"> <img src="https://i.shgcdn.com/bf471b44-bc13-47ad-a240-519d1aecc988/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Subscribe & Save! Click to learn more" class="shogun-image " decoding="async" loading="eager"/> </a> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-9d8bb411-eb89-4619-aa11-0aa88f43ea08" }
    }
  </script> </div> </div> </div> </div> </div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-5c4663c4-1ad0-4122-b9a3-135fd1632660"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-8df57e95-5d03-467c-8e68-e6496c80c3e1" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-family: Rubik; color: rgb(26, 71, 96);" data-fontfamily="Rubik">For our shipping schedule and other faqs, please <a title="Shipping FAQs" href="https://sea2table.com/pages/faq#shipping" target="_blank" rel="noopener"><strong>click here</strong></a>. </span></p></div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "All Products Hero Section",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=64f0d1e40d846300fe3479f9&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "All Products Hero Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
