<div class="shogun-root" data-shogun-id="656a350f01983400cc5e4a71" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="656a350f01983400cc5e4a71" data-shogun-section-version-id="66674300e1ae42df1776d87e" data-shogun-platform-type="shopify" data-shogun-variant-id="66674300e1ae42df1776d970" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-06-05-3820/66674300e1ae42df1776d87e_66674300e1ae42df1776d970.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:800|Rubik:600"/> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-68408c5f-06d0-4041-bad8-37026808e07c"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-4a5fd444-3a09-4bcd-a82d-37a0bb65b86b"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-0dc77d31-8f54-4dd6-b647-46ecfcbb7d44"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shogun-image-linked shg-align-right" style="opacity: 1;" id="s-76a8861c-d913-40dc-b043-e5de81d7dcd9"> <a class="shogun-image-link" href="https://sea2table.com/discount/GREATCATCH?redirect=/tools/bundle-subscriptions/bundle/7421575397537?selling_plan=1116799137&variant=42180756013217&d=5-p&product=build-your-first-box-1"> <img src="https://i.shgcdn.com/eee8193f-ef98-462c-b6bd-9d18a50b11fd/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ uuid: 's-76a8861c-d913-40dc-b043-e5de81d7dcd9' })
  </script> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-a161cc90-9496-43ad-ba3f-d4f9c5ac0f2d"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-ade04551-3878-427b-bcab-08cc70ffd75e"> <a class="shogun-image-link" href="https://sea2table.com/pages/freeking2024"> <img src="https://i.shgcdn.com/eee8193f-ef98-462c-b6bd-9d18a50b11fd/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ uuid: 's-ade04551-3878-427b-bcab-08cc70ffd75e' })
  </script> </div> </div> </div> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-057586b0-be7a-4dc3-817e-bdfb50379633"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-203d6c56-99e7-43f0-8962-339b9e725405" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h1> Amazing Offer! </h1> </div> </div> <div id="s-3959fa28-f1ed-4b15-9c01-f4f7aa781500" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h1> $50 Off Your First Delivery </h1> </div> </div> <div id="s-c39cf6ee-9e07-4590-bfa3-c19a7e487f21" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: left;"><span style="font-size: 26px;">Take $50 off the first delivery of a new subscription of $199+ when you sign up today. Use coupon code <strong>GREATCATCH</strong> at checkout. </span></p></div> </div> <div id="s-fed5f667-181f-4e20-ad29-d8edcdad2a57-root" class="shg-c shg-btn-wrapper shg-align-left"> <a id="s-fed5f667-181f-4e20-ad29-d8edcdad2a57" class="shg-btn shg-cse shg-btn-text " href="https://sea2table.com/discount/GREATCATCH?redirect=/tools/bundle-subscriptions/bundle/7421575397537?selling_plan=1116799137&variant=42180756013217&d=5-p&product=build-your-first-box-1"> SHOP WITH $50 OFF </a> </div> <div id="s-a322cfdd-191a-436a-9736-4ad0bd54871a-root" class="s-a322cfdd-191a-436a-9736-4ad0bd54871a shg-align-container"> <div class="shg-c s-a322cfdd-191a-436a-9736-4ad0bd54871a shogun-image-container shg-align-left" style="opacity: 1;" id="s-a322cfdd-191a-436a-9736-4ad0bd54871a"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/210835aa-0d58-459a-8050-0f256d2f8fb6/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-a322cfdd-191a-436a-9736-4ad0bd54871a' })
  </script> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-06-05-3820/global-assets-9348ec2e78abe83367067917b8c350d0a2befee7.js" defer></script> </div>
{% schema %}
  {
    "name": "Summer Heat",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=656a350f01983400cc5e4a71&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Summer Heat",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
