<div class="shogun-root" data-shogun-id="63c714966566ae00e706164e" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="63c714966566ae00e706164e" data-shogun-section-version-id="66eadd8494167f151cde74d5" data-shogun-platform-type="shopify" data-shogun-variant-id="66eadd8494167f151cde7699" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-09-05-5919/66eadd8494167f151cde74d5_66eadd8494167f151cde7699.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:400,normal"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-09-05-5919/global-assets-05ec75711de9933f94a68e0be53b3c040e43f211.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-5631b4ac-5d06-4b8d-b03b-2eb2de6f821c"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-ac3a2ee9-cae6-40e6-8299-a65a0c597692" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h2> As Seen In: </h2> </div> </div> <div class="shg-c " id="s-6b51a2b1-f97a-4317-a6ea-cc1ceb03b850"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-e7e82e37-23ab-44e1-810c-5acacca5b615"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-14797200-36ed-47a7-b063-6c74efe97ba7"> <a class="shogun-image-link" href="https://www.epicurious.com/expert-advice/best-store-buy-fish-online-article" target="_blank"> <img src="https://i.shgcdn.com/b4af0504-be79-4a90-a08e-5dc025d31326/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Epicurious logo" class="shogun-image " decoding="async" loading="eager"/> </a> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=_3Q3tsJ01nc"/> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageElements": { "uuid": "s-14797200-36ed-47a7-b063-6c74efe97ba7" }
    }
  </script> <div id="s-60c8b835-2b48-4e51-b672-c5b62e7a60c9" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: 22px; text-align: center;"><span style="font-family: Rubik; letter-spacing: 1px;" data-letterspacing="1px">"The best all-around place to buy fish online."</span></p></div> </div> </div> </div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-97a75327-c4e8-474c-b14a-098cbadb65ee"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shg-align-center" style="opacity: 1;" id="s-462544f4-02fd-4bb7-b943-9e6b9427ce02"> <img src="https://i.shgcdn.com/b76b13e9-5d92-4cb6-8ea3-292aa4547637/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Food & Wine logo" class="shogun-image " decoding="async" loading="eager"/> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=uB2vgbSabks"/> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageElements": { "uuid": "s-462544f4-02fd-4bb7-b943-9e6b9427ce02" }
    }
  </script> <div id="s-e25e13d9-3882-4d38-bf20-3fc68ffa89f4" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: 22px; text-align: center;"><span style="font-family: Rubik; letter-spacing: 1px;" data-letterspacing="1px">"Sea to Table takes pride in informative labeling so you can know where your fish came from."</span></p></div> </div> </div> </div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-3d5ee364-9f27-49de-bab2-7f241d91682d"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shg-align-center" style="opacity: 1;" id="s-a494db03-43ad-4bbc-9b58-cc1ec9693a14"> <img src="https://i.shgcdn.com/4920ee4e-8653-4371-9c15-6b2d5290f25d/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Bon Appetit logo" class="shogun-image " decoding="async" loading="eager"/> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=HtE7EadONxc"/> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageElements": { "uuid": "s-a494db03-43ad-4bbc-9b58-cc1ec9693a14" }
    }
  </script> <div id="s-458d6120-37a0-4d6f-9aec-2d0a8c3da5ac" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: 22px; text-align: center;"><span style="font-family: Rubik; letter-spacing: 1px;" data-letterspacing="1px">"The best way to get awesome seafood online."</span></p></div> </div> </div> </div> </div> </div> </div> </div> <div id="s-504af42a-2f25-47e4-a966-5327c883ff25" class="shg-c "> <div id="slider-s-504af42a-2f25-47e4-a966-5327c883ff25" class="shg-sld"> <div class="shg-sld-content"> <div class="shg-sld-nav-button shg-sld-left "> <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" style="fill: rgba(26, 71, 96, 1);"> <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/> </svg> </div> <div class="shg-sld-slides shg-sld-slides-padded"> <div class="shg-sld-item animate__animated shg-sld-active "> <div> <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-90b8e59d-e319-4795-b33e-6f99134abd81"> <a class="shogun-image-link" href="https://www.epicurious.com/expert-advice/best-store-buy-fish-online-article" target="_blank"> <img src="https://i.shgcdn.com/b4af0504-be79-4a90-a08e-5dc025d31326/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Epicurious logo" class="shogun-image " decoding="async" loading="eager"/> </a> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=_3Q3tsJ01nc"/> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageElements": { "uuid": "s-90b8e59d-e319-4795-b33e-6f99134abd81" }
    }
  </script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-5962f950-f720-46ad-90f3-d9d34752a837"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-09cca35e-4b44-45a8-9c19-458c6f9a9f15" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: 22px; text-align: center;"><span style="font-family: Rubik; letter-spacing: 1px;" data-letterspacing="1px">"The best all-around place to buy fish online."</span></p></div> </div> </div> </div> </div> </div> </div> <div class="shg-sld-item animate__animated "> <div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-3d1a220d-0a3d-4d4b-9e85-4e12bf300776"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shg-align-center" style="opacity: 1;" id="s-8dbc4608-673b-4de3-86af-0adbacec6871"> <img src="https://i.shgcdn.com/4920ee4e-8653-4371-9c15-6b2d5290f25d/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Bon Appetit logo" class="shogun-image " decoding="async" loading="eager"/> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=HtE7EadONxc"/> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageElements": { "uuid": "s-8dbc4608-673b-4de3-86af-0adbacec6871" }
    }
  </script> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-1d82b8b1-42fb-439c-a445-9529fbcb137e"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-41834977-4726-4dd7-9595-cd780aed8f9c" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: 22px; text-align: center;"><span style="font-family: Rubik; letter-spacing: 1px;" data-letterspacing="1px">"The best way to get awesome seafood online."</span></p></div> </div> </div> </div> </div> </div> </div> <div class="shg-sld-item animate__animated "> <div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-9b109f49-20ab-44b7-8777-be0822565822"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-bb49588c-25d5-47b2-95ef-bb5cb0bb878c"> <a class="shogun-image-link" href="https://www.foodandwine.com/lifestyle/kitchen/seafood-delivery" target="_blank"> <img src="https://i.shgcdn.com/b76b13e9-5d92-4cb6-8ea3-292aa4547637/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="Food & Wine logo" class="shogun-image " decoding="async" loading="eager"/> </a> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=uB2vgbSabks"/> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageElements": { "uuid": "s-bb49588c-25d5-47b2-95ef-bb5cb0bb878c" }
    }
  </script> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-7a2918bf-6ea5-48ee-b485-b3b415179879"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-3e7f07b9-a71d-4b1c-8d2e-c932d9802986" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: 22px; text-align: center;"><span style="font-family: Rubik; letter-spacing: 1px;" data-letterspacing="1px">"Sea to Table takes pride in informative labeling so you can know where your fish came from."</span></p></div> </div> </div> </div> </div> </div> </div> </div> <div class="shg-sld-nav-button shg-sld-right "> <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" style="fill: rgba(26, 71, 96, 1);"> <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/> </svg> </div> </div> <div class="shg-sld-dots"> <div class="shg-sld-dot shg-sld-active"></div> <div class="shg-sld-dot"></div> <div class="shg-sld-dot"></div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgSlider": {
        "id": "#slider-s-504af42a-2f25-47e4-a966-5327c883ff25",
        "intervalTime": 4,
        "autoplay": true,
        "pauseOnHover": true,
        "transition": "animate__noAnimation",
        "interval": null
      }
    }
  </script> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Press Logos (KEEP)",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=63c714966566ae00e706164e&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Press Logos (KEEP)",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
