<div class="shogun-root" data-shogun-id="64b5b051adcd7400e8c4dc04" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="64b5b051adcd7400e8c4dc04" data-shogun-section-version-id="658b006af9bb6700e168fcb8" data-shogun-platform-type="shopify" data-shogun-variant-id="658b006af9bb6700e168fe18" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/d3a8e76730a41a3ddf8ec4a7bbfab388/658b006af9bb6700e168fe18.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:700|Rubik:|Rubik:800"/> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-c5aa15e5-6e8d-42ac-9c6c-8bbc99415dc0"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-8e91fb23-0240-4eea-b765-34434864cfc4"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-2085a9d3-db1d-4728-8f64-29101b97c2a6"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-6f6c2862-2060-4ff8-9a18-aea13be8a3e6" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h1> 15% off sitewide NYE flash sale<br> </h1> </div> </div> <div id="s-53dbd024-7eb9-4fbb-a15d-8b7778670eaf" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p><span style="color: rgb(26, 71, 96); font-size: 22px;"><strong><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="color: rgb(0, 0, 0);"><span style="color: rgb(26, 71, 96);">Use code </span></span></span><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="color: rgb(0, 0, 0);"><span style="color: rgb(26, 71, 96);">NYE15</span></span></span><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="color: rgb(0, 0, 0);"><span style="color: rgb(26, 71, 96);">. </span><br></span></span></strong><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="font-size: 14px;">Applies to orders of $199+. Ends midnight tonight!</span></span></span></p></div> </div> <div id="s-43ecc50d-37dd-488d-9bd0-3800ade37853-root" class="shg-c shg-btn-wrapper shg-align-left"> <a id="s-43ecc50d-37dd-488d-9bd0-3800ade37853" class="shg-btn shg-cse shg-btn-text " href="https://sea2table.com/discount/NYE15?redirect=/collections/seafood-products"> SHOP THE SALE </a> </div> <div id="s-c93fe975-b25d-4f0c-af6f-5ea55d236468-root" class="s-c93fe975-b25d-4f0c-af6f-5ea55d236468 shg-align-container"> <div class="shg-c s-c93fe975-b25d-4f0c-af6f-5ea55d236468 shogun-image-container shg-align-left" style="opacity: 1;" id="s-c93fe975-b25d-4f0c-af6f-5ea55d236468"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/7509cdf3-e0c1-436e-929d-f021ed798463/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-c93fe975-b25d-4f0c-af6f-5ea55d236468' })
  </script> </div> </div> </div> </div> <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-e0262c51-ad91-47a4-a25b-0ce1d6f34c67"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-3f78d653-5d47-4969-b490-40fe31266530-root" class="s-3f78d653-5d47-4969-b490-40fe31266530 shg-align-container"> <div class="shg-c s-3f78d653-5d47-4969-b490-40fe31266530 shogun-image-container shg-align-right" style="opacity: 1;" id="s-3f78d653-5d47-4969-b490-40fe31266530"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/93100203-6497-4c12-8d7f-7034b10f29eb/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-3f78d653-5d47-4969-b490-40fe31266530' })
  </script> </div> </div> </div> </div> </div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-a218e979-01fa-4f11-8b41-6b265afdee1b"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-93582bf6-cf74-46b3-8b47-02a80ea8ce86"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-ddf0c2dd-874d-40ee-85f0-8c2a74f90b9b"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e24cebdb-7581-4774-ba37-f95910c63688" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> 15% off sitewide NYE flash sale<br> </h1> </div> </div> <div id="s-fb6a9230-a3ee-4746-8787-d3d390fd3a6a" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="color: rgb(26, 71, 96); font-size: 22px;"><strong><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="color: rgb(0, 0, 0);"><span style="color: rgb(26, 71, 96);">Use code </span></span></span><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="color: rgb(0, 0, 0);"><span style="color: rgb(26, 71, 96);">NYE15</span></span></span><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="color: rgb(0, 0, 0);"><span style="color: rgb(26, 71, 96);">. <br></span></span></span></strong><span style="font-family: Rubik;" data-fontfamily="Rubik"><span style="font-size: 14px;">Applies to orders of $199+. Ends midnight tonight!</span></span></span></p></div> </div> <div id="s-6ccae5e6-c34d-40fc-accd-cef8eaf4bf96-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-6ccae5e6-c34d-40fc-accd-cef8eaf4bf96" class="shg-btn shg-cse shg-btn-text " href="https://sea2table.com/pages/black-friday-offers-2023"> SHOP THE SALE </a> </div> <div id="s-f0646c79-39e6-4416-9679-6391da4a8d43-root" class="s-f0646c79-39e6-4416-9679-6391da4a8d43 shg-align-container"> <div class="shg-c s-f0646c79-39e6-4416-9679-6391da4a8d43 shogun-image-container shg-align-center" style="opacity: 1;" id="s-f0646c79-39e6-4416-9679-6391da4a8d43"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/7509cdf3-e0c1-436e-929d-f021ed798463/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-f0646c79-39e6-4416-9679-6391da4a8d43' })
  </script> </div> </div> </div> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-4dbc0ca7-c66b-4bf6-ba82-98610a14e00b"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-dd0d0d61-ad94-4463-bd9c-ffebd2fd3891-root" class="s-dd0d0d61-ad94-4463-bd9c-ffebd2fd3891 shg-align-container"> <div class="shg-c s-dd0d0d61-ad94-4463-bd9c-ffebd2fd3891 shogun-image-container shg-align-right" style="opacity: 1;" id="s-dd0d0d61-ad94-4463-bd9c-ffebd2fd3891"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/93100203-6497-4c12-8d7f-7034b10f29eb/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-dd0d0d61-ad94-4463-bd9c-ffebd2fd3891' })
  </script> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script type="text/javascript" src="https://cdn.getshogun.com/c1a13dd52ce938030bd7204085ee1fb1/global-assets-bc6c28af3128814e86a605ab18aa157837375aba.js" defer></script> </div>
{% schema %}
  {
    "name": "Black Friday",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=64b5b051adcd7400e8c4dc04&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Black Friday",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
