<div class="shogun-root" data-shogun-id="6564d2e5fef2a100cddaffef" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="6564d2e5fef2a100cddaffef" data-shogun-section-version-id="6564d64d0657b400c93ef7cf" data-shogun-platform-type="shopify" data-shogun-variant-id="6564d64d0657b400c93ef832" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-11-15-0736/6564d64d0657b400c93ef832.css"/> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-5c4663c4-1ad0-4122-b9a3-135fd1632660"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-60e89cd1-5743-44bc-bbff-eb82030287bd"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-5b0366fc-b1a7-43c9-80ed-9bfa9444ea06"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"> <div id="s-56ee2fbd-c719-4687-9edf-d0c65f2b9c5a-root" class="s-56ee2fbd-c719-4687-9edf-d0c65f2b9c5a shg-align-container"> <div class="shg-c s-56ee2fbd-c719-4687-9edf-d0c65f2b9c5a shogun-image-container shg-align-center" style="" id="s-56ee2fbd-c719-4687-9edf-d0c65f2b9c5a"> <div class="shg-image-content-wrapper"> <video width="" height="" autoplay loop muted webkit-playsinline playsinline style="" preload="none" class="shogun-image "> <source src="https://i.shgcdn.com/b5cca822-2891-4697-a509-fd49e884ca0c/gif2video/-/format/webm/-/quality/lighter/" type="video/webm"/> <source src="https://i.shgcdn.com/b5cca822-2891-4697-a509-fd49e884ca0c/gif2video/-/format/mp4/-/quality/lighter/" type="video/mp4"/> </video> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-56ee2fbd-c719-4687-9edf-d0c65f2b9c5a' })
  </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-211ca9eb-28df-483f-9ac0-0838daa9f1b1" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><strong>Take 20% off any order of $199+ with code <span style="color: rgb(249, 102, 13);">CY20</span>, or 25% off $299+ with code <span style="color: rgb(249, 102, 13);">CY25</span>.</strong></p></div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script type="text/javascript" src="https://cdn.getshogun.com/js-2023-11-16-4445/global-assets-6f9ac38c598b97f7441557a265292f3ce52f6670.js" defer></script> </div>
{% schema %}
  {
    "name": "Cyber Monday OTP banner",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=6564d2e5fef2a100cddaffef&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Cyber Monday OTP banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
