<div class="shogun-root" data-shogun-id="64d6979d8c1c5b0101c71967" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="64d6979d8c1c5b0101c71967" data-shogun-section-version-id="64d698718c1c5b00e8c3f1cd" data-shogun-platform-type="shopify" data-shogun-variant-id="64d698718c1c5b00e8c3f237" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/efa0e8a5ad3fddb842e4241d0f7081b3/64d698718c1c5b00e8c3f237.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:|Rubik:600" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-84888e83-6076-479c-b8d9-e36c4c6282a2"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
  <div
    class="shg-c  "
    id="s-780c3981-5708-43c4-8dcc-2ff6bf139db2"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12">

<div
  class="shg-c shogun-image-container    shg-align-right"
  style="opacity: 1;"
  id="s-5a3dbb79-d329-4d01-9366-253630e4085a">
  
    
      <img
        
        
        src="https://i.shgcdn.com/a9c7f237-a080-43b3-83f3-6e7734bf5f20/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
        decoding="async"
        loading="eager"
      />
    
  
  
  
  
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-5a3dbb79-d329-4d01-9366-253630e4085a' })
  </script>



<div
  class="shg-c shogun-image-container    shg-align-left"
  style="opacity: 1;"
  id="s-93155e47-8dd6-4964-ac99-a5c9e442b2b5">
  
    
      <img
        
        
        src="https://i.shgcdn.com/a9c7f237-a080-43b3-83f3-6e7734bf5f20/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
        decoding="async"
        loading="eager"
      />
    
  
  
  
  
</div>


  <script type="text/javascript">
    window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-93155e47-8dd6-4964-ac99-a5c9e442b2b5' })
  </script>

</div>
      <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12"><div id="s-b8b7033f-cd6f-4df1-a5d5-b2674c2d2a0a"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left;"><span style="font-size: 36px; color: rgb(26, 71, 96);"><strong><span style="font-family: Rubik;">Our Customers</span></strong></span></p></div>

</div>
<div id="s-1e159902-ecdd-40d8-8833-2a4e3c076421"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h1>
    
      Know Best
    
  </h1>
</div>

</div>
<div id="s-db47abef-ecab-454b-91f0-d1aa54946613"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: left;"><span style="font-weight: bold; color: rgb(26, 71, 96);" data-fontweight="700"><strong><span style="font-size: 14px;"><span style="font-family: Rubik;">At Sea to Table, we want every customer experience to be a great one. </span></span></strong></span></p></div>

</div>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdn.getshogun.com/0b0ad6784fa350e8964917bcb4b34738/global-assets-8eb4e024f00da024c6f4b177842ec6380f90d3e1.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Reviews Banner",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=64d6979d8c1c5b0101c71967&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Reviews Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
