<div class="shogun-root" data-shogun-id="6494a097f43d1d00ed0dc9df" data-shogun-site-id="9a1d67d8-232d-4cbd-9371-9c862e9fa310" data-shogun-section-id="6494a097f43d1d00ed0dc9df" data-shogun-section-version-id="6605c348b7fb8d0125b9ae3d" data-shogun-platform-type="shopify" data-shogun-variant-id="6605c348b7fb8d0125b9ae70" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-02-09-3511/6605c348b7fb8d0125b9ae3d_6605c348b7fb8d0125b9ae70.css"/> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-30e02e19-cbec-4288-a8fb-99250a17e05f"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-631f5afb-5389-4b48-8552-cffa70a924f4-root" class="s-631f5afb-5389-4b48-8552-cffa70a924f4 shg-align-container"> <div class="shg-c s-631f5afb-5389-4b48-8552-cffa70a924f4 shogun-image-container shg-align-center" style="opacity: 1;" id="s-631f5afb-5389-4b48-8552-cffa70a924f4"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/9bfaa5fb-a722-4963-9e99-ce1c5370928f/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script type="text/javascript">
    window.SHOGUN_IMAGE_V2_ELEMENTS = window.SHOGUN_IMAGE_V2_ELEMENTS || new Array();
    window.SHOGUN_IMAGE_V2_ELEMENTS.push({ uuid: 's-631f5afb-5389-4b48-8552-cffa70a924f4' })
  </script> </div> </div> </div> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-03-28-0549/global-assets-1af0519698468a33d6593e0bcfb9bd5da244ce1f.js" defer></script> </div>
{% schema %}
  {
    "name": "COLLECTION (KEEP)",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=6494a097f43d1d00ed0dc9df&shop=sea2table.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "COLLECTION (KEEP)",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
